# Week 11&12 Exercises
# Rahul Rajeev

In [1]:
# libraries
import pandas as pd
import numpy as np
import sqlite3

In [6]:
# 1. connect to petsDB and check whether the connection is successful
conn = sqlite3.connect('petsdb.db')
conn.execute('SELECT * FROM persons LIMIT 1')

In [7]:
# 2. find the different age groups in the persons database
c = conn.cursor()
# query that counts all entries, and selects age from the persons table, 
# grouped by age
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("{} people with age {}".format(ppl,age))

2 people with age 5
1 people with age 6
1 people with age 7
3 people with age 8
1 people with age 9
2 people with age 11
3 people with age 12
1 people with age 13
4 people with age 14
2 people with age 16
2 people with age 17
3 people with age 18
1 people with age 19
3 people with age 22
2 people with age 23
3 people with age 24
2 people with age 25
1 people with age 27
1 people with age 30
3 people with age 31
1 people with age 32
1 people with age 33
2 people with age 34
3 people with age 35
3 people with age 36
1 people with age 37
2 people with age 39
1 people with age 40
1 people with age 42
2 people with age 44
2 people with age 48
1 people with age 49
1 people with age 50
2 people with age 51
2 people with age 52
2 people with age 53
2 people with age 54
1 people with age 58
1 people with age 59
1 people with age 60
1 people with age 61
2 people with age 62
1 people with age 63
2 people with age 65
2 people with age 66
1 people with age 67
3 people with age 68
1 people with age 69
1 people with age 70
4 people with age 71
1 people with age 72
5 people with age 73
3 people with age 74

In [11]:
# 3. Find the age group that has the maximum number of people.

# same command, with descending count
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC LIMIT 1"):
    print("Highest number is {} people with age {}".format(ppl,age))

Highest number is 5 people with age 73

In [16]:
# 4. Find the people who do not have a last name.

# counting the entries in persons where last_name is null
for row in c.execute("SELECT count(*) FROM persons WHERE last_name IS null"):
    print(row)

(60,)

In [20]:
# 5. Find out how many people have more than one pet.

# selecting the number of entries in the table where we count the number of owner_ids, implying repeated ownership, from the 
# pets table ordered by owner_id having counts of more than one entry
for row in c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)"):
    print(row)

(43,)

In [21]:
# 6. Find out how many pets have received treatment.

# selecting the count of entries from pets where the treatment_done variable is one
for row in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print(row)

(36,)

In [24]:
# 7. Find out how many pets have received treatment and the type of pet is known.

# selecting the count of entries from pets where treatment_done is 1, and the entry doesn't have a null pet_type

for row in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"):
    print(row)

(16,)

In [26]:
# 8. Find out how many pets are from the city called east port.

# since pets doesn't have the city entry, we have to join tables on the owner_id, and select the number of entries where 
# the id matches and where the city column from persons is east port

for row in c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'"):
    print(row)

(49,)

In [30]:
# 9. Find out how many pets are from the city called east port and who received a treatment.

# same as previous query, but we add an additional condition where the pets' treatment_done column is equal to 1
# we have to specify the table from where each column is from, hence pets.treatment_done
query = "SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1"

for row in c.execute(query):
    print(row)

(11,)